configuration {
    modi:                   "drun,run";
    show-icons:             true;
    icon-theme:             "Papirus-Dark";
    display-drun:           "";
    drun-display-format:    "{name}";
    disable-history:        false;
    sidebar-mode:           false;
    matching:               "fuzzy";
}

@theme "theme"
